__pycache__/
.gitignore
./Data/plot.png
test.py
*.pickle
*.png
# ignore all png except plot.png
!./Data/plot_complete.png
!./Data/plot_incomplete.png
.replit
poetry.lock
pyproject.toml
replit.nix
venv/